interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.fz-juelich.de/de/gs/ueber-uns/meteo/aktuelle-wetterdaten/wetterdaten
  response:
    body:
      string: "<!doctype html>\n              <html lang=\"en\" data-reactroot=\"\"><head><meta
        charSet=\"utf-8\"/><title data-react-helmet=\"true\">Wetterdaten von J\xFClich</title><meta
        data-react-helmet=\"true\" name=\"description\" content=\"\"/><script>window.env
        = {\"apiPath\":\"https:\\u002F\\u002Fwww.fz-juelich.de\",\"publicURL\":\"https:\\u002F\\u002Fwww.fz-juelich.de\"};</script><link
        rel=\"icon\" href=\"/favicon.ico\" sizes=\"any\"/><link rel=\"icon\" href=\"/icon.svg\"
        type=\"image/svg+xml\"/><link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"/apple-touch-icon.png\"/><link
        rel=\"manifest\" href=\"/site.webmanifest\"/><meta name=\"generator\" content=\"Plone
        6 - https://plone.org\"/><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/><meta name=\"apple-mobile-web-app-capable\" content=\"yes\"/><link
        data-chunk=\"client\" rel=\"preload\" as=\"style\" href=\"/static/css/18.e3e17644.chunk.css\"/><link
        data-chunk=\"client\" rel=\"preload\" as=\"script\" href=\"/static/js/runtime~client.aebd907e.js\"/><link
        data-chunk=\"client\" rel=\"preload\" as=\"script\" href=\"/static/js/18.e3e17644.chunk.js\"/><link
        data-chunk=\"client\" rel=\"preload\" as=\"script\" href=\"/static/js/client.13655d32.chunk.js\"/><link
        data-chunk=\"client\" rel=\"stylesheet\" href=\"/static/css/18.e3e17644.chunk.css\"/></head><body
        class=\"view-viewview contenttype-embeddedpage section-de section-gs section-ueber-uns
        section-meteo section-aktuelle-wetterdaten section-wetterdaten is-anonymous
        public-ui manual-profile openCookieBanner\"><div role=\"navigation\" aria-label=\"Toolbar\"
        id=\"toolbar\"></div><div id=\"main\"><div class=\"skiplinks-wrapper\" role=\"complementary\"
        aria-label=\"skiplinks\"><a class=\"skiplink\" href=\"#view\">Hauptinhalt
        \xFCberspringen</a><a class=\"skiplink\" href=\"#navigation\">Navigation \xFCberspringen</a><a
        class=\"skiplink\" href=\"#footer\">Footer \xFCberspringen</a></div><div role=\"banner\"
        class=\"ui basic segment header-wrapper institut\"><div class=\"ui container\"><div
        class=\"header\"><div class=\"header-top\"><div class=\"language-selector\"><span
        class=\"selected\">de<!-- -->\_</span><a aria-label=\"Wechseln zu english\"
        class=\"\" title=\"English\" href=\"/en/s\">en<!-- -->\_</a></div></div><div
        class=\"logo-nav-wrapper\"><div class=\"logo\"><a title=\"Website\" href=\"/de\"><img
        title=\"Website\" src=\"/static/media/Logo.2ceb35fc.svg\" alt=\"Website\"
        class=\"ui image\"/></a><div class=\"institut-title\"><a href=\"/de/gs\"><h1>Sicherheit
        und Strahlenschutz</h1></a></div></div><div class=\"mobile-nav mobile only
        tablet only\"><div class=\"hamburger-wrapper\"><button class=\"hamburger hamburger--collapse\"
        aria-label=\"Men\xFC \xF6ffnen\" title=\"Men\xFC \xF6ffnen\" type=\"button\"><span
        class=\"hamburger-box\"><span class=\"hamburger-inner\"></span></span></button></div></div><a
        class=\"search mobile-nav mobile only tablet only\" title=\"Search\" href=\"/de/gs/@@search?allow_local=true&amp;local=true\"><button
        aria-label=\"Suche\" class=\"ui basic icon button institut-search\"><svg xmlns=\"http://www.w3.org/2000/svg\"
        viewBox=\"0 0 38 38\" style=\"height:36px;width:auto;fill:currentColor\" class=\"icon\"><path
        d=\"M2.14770459,15.3498891 C2.14770459,8.07006652 8.07185629,2.15521064 15.3453094,2.15521064
        C22.6267465,2.15521064 28.5429142,8.07804878 28.5429142,15.3498891 C28.5429142,22.6217295
        22.6267465,28.5525499 15.3453094,28.5525499 C8.07185629,28.5525499 2.14770459,22.6297118
        2.14770459,15.3498891 M35.6886228,34.1640798 L26.9381238,25.4155211 C29.2853493,22.7175166
        30.7065868,19.1973392 30.7065868,15.3498891 C30.7065868,6.88070953 23.8162874,0
        15.3532934,0 C6.88223553,0 0,6.8886918 0,15.3498891 C0,23.8110865 6.89021956,30.6997783
        15.3532934,30.6997783 C19.2015968,30.6997783 22.7225549,29.2789357 25.4211577,26.9321508
        L34.1716567,35.6807095 C34.3792415,35.8882483 34.6586826,36 34.9301397,36
        C35.2015968,36 35.4810379,35.8962306 35.6886228,35.6807095 C36.1037924,35.2656319
        36.1037924,34.5791574 35.6886228,34.1640798\" transform=\"translate(1 1)\"
        fill=\"#023d6b\" stroke=\"#023d6b\" stroke-width=\"2\" fill-rule=\"evenodd\"/></svg></button></a></div><div
        class=\"institut-nav\"><nav id=\"navigation\" aria-label=\"navigation\" class=\"navigation\"><div
        class=\"ui pointing secondary stackable computer large screen widescreen only
        menu\"><ul class=\"desktop-menu\"><li><button class=\"item\">Fachbereiche</button><div
        class=\"submenu-wrapper\"><div class=\"submenu\"><div role=\"presentation\"
        class=\"close\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 36
        36\" style=\"height:48px;width:auto;fill:currentColor\" class=\"icon\"><path
        fill-rule=\"evenodd\" d=\"M27.899 9.515L26.485 8.101 18 16.586 9.514 8.101
        8.1 9.515 16.586 18 8.1 26.486 9.514 27.9 18 19.414 26.485 27.9 27.899 26.486
        19.414 18z\"/></svg></div><div class=\"submenu-inner\"><a class=\"submenu-header\"
        href=\"/de/gs/fachbereiche\"><h2><svg xmlns=\"http://www.w3.org/2000/svg\"
        viewBox=\"0 0 36 36\" style=\"height:40px;width:auto;fill:currentColor\" class=\"icon
        left-arrow\"><path fill-rule=\"evenodd\" d=\"M14.707 26.707L13.293 25.293
        20.586 18 13.293 10.707 14.707 9.293 23.414 18z\"/></svg>Zur \xDCbersicht<!--
        --> <!-- -->Fachbereiche</h2></a><ul><div class=\"subitem-wrapper\"><li><a
        href=\"/de/gs/fachbereiche/genehmigungen-s-g\"><span>Genehmigungen</span></a></li><div
        class=\"sub-submenu\"><ul><div class=\"subsubitem-wrapper\"><li><a href=\"/de/gs/fachbereiche/genehmigungen-s-g/fremdfirmenbetreuung\"><span
        class=\"left-arrow\">\u2[...]
